@import "tailwindcss";

/* Import your custom fonts. */
@font-face {
    font-family: 'customfont';
    src: url('./assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* This line is required in Tailwind v4 — without it, dark mode toggle won’t work from the website (it only works using device theme). */
@custom-variant dark (&:is(.dark *));



/*  Set custom font in overall content......... */
:root {
    --font-customfont: 'customfont', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
    font-family: var(--font-customfont);
}

/*  Additional global styles can be added here......... */
@theme inline {
    --animate-meteor-effect: meteor 5s linear infinite;

    @keyframes meteor {
        0% {
            transform: rotate(215deg) translateX(0);
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            transform: rotate(215deg) translateX(-500px);
            opacity: 0;
        }
    }
}